node_modules
npm-debug.log
.git
.gitignore
.dockerignore
Dockerfile
.env
.env.production
.env.example
.eslintrc.cjs
dist
.vscode
.idea
coverage
.DS_Store
*.log
*.md
deployment
sonar-project.properties
Jenkinsfile
vite.config.js.bak
